polkit.addAdminRule(function (action, subject) {
  return ["unix-group:wheel"];
});
polkit.addRule(function (action, subject) {
  if (
    subject.isInGroup("wheel") &&
    action.id.indexOf("org.freedesktop.policykit.") === 0
  ) {
    return polkit.Result.AUTH_ADMIN_KEEP;
  }
});
