[Desktop Entry]
Type=Application
Name=NinjaOne Remote Player
Exec=/usr/scripts//ncplayer.sh %u
StartupNotify=false
MimeType=x-scheme-handler/ninjarmm;
